@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
/* shared css */
body{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary {
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 38px;
    border-radius: 48px;
    border: none;
    cursor: pointer;
}


/* header section */
header {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    padding: 45px 0;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;

}

.logo img {
    width: 86px;
    height: 40px;
}

.logo span {
    color: #FF42A5;

}

.logo .logo-text {
    margin-left: 20px;
    font-size: 2.5rem;
    font-weight: 700;
    color: #0B0223;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
}

.nav-menu a {
    color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
}

.nav-btn{
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: none;
    padding: 20px 25px;
    color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: normal;
}
.nav-btn:hover{
    color: #fff;
    background-color: #FF42A5;
    transition: 0.5s;
}



/* banner section */

.banner-container {
    display: flex;
    max-width: 1240px;
    margin: 0 auto;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.banner-text-container .banner-heading {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-text-container .banner-sub-heading {
    font-size: 5.9rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-text-container .banner-description {
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: lowercase;
    margin: 15px 0;
}

.btn-signin {
    background: #FF42A5;
}

.btn-signin:hover {
    background: #da0070ad;
}

.btn-gorogue {
    background: #4EC5F7;
    margin-left: 20px;
}

.btn-gorogue:hover {
    background: #0294d3c4;
}

.banner-text-container i {
    color: #FF42A5;
    margin-right: 5px;
}

.banner-text-container button {
    margin-top: 20px;
}

.banner-image {
    width: 50%;
}

.banner-image img {
    width: 100%;
    height: 100%;
    margin-bottom: -5px;
}

/* gamer section */

.gamer-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer-container {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 30px;
}

.gamer-image{
    width: 50%;
}

.gamer-image img {
    width: 100%;
    height: 100%;
}

.gamer-text {
    width: 50%;
    text-align: right;
    padding-top: 100px;
    margin-bottom: 50px;
}

.gamer-heading {
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gamer-description {
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 30px;
    margin: 25px 0;
}

.btn-know-more {
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    margin: 10px 0;
}

.btn-know-more:hover {
    background: #da0070ad;
}

.gamer-sub-description {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 45px;
}

 .gamer-sub-text {
    color: #534C64;
    font-size: 2rem;
    font-weight: 700;
}


/* online game section */

.online-game-container {
    max-width: 1240px;
    margin: 30px auto;
    text-align: center;
}

.online-game-container .online-game-heading {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}


.online-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

 .online-game-description {
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 15px 0 25px;
}

.game-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.game-card img {
    width: 100%;
}

.game-card-container p {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    margin-top: 15px;
}

/* play instant section */

.play-section {
    max-width: 1240px;
    margin: 80px auto;
}

.play-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.play-text {
    width: 50%;
}

.play-image {
    width: 50%;
}

.play-image .play-first-img {
    width: 100%;
}


.play-text {
    text-align: right;
    margin-right: 120px;
    padding-right: 30px;
}

.play-text .Play-heading {
    font-size: 3rem;
    font-weight: 700;
}

.play-text .Play-instantly {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-text .Play-description {
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 30px;
}

.play-image .img {
    position: relative;
}

.play-second-img {
    position: absolute;
    top: 50%;
    left: -25%;
}

/* hover related section */

.hover-section {
    max-width: 1240px;
    margin: 170px auto 0;
}

.list-one {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: #FFF;
}

.list-two {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
    background: #FFF;
}

.game-list {
    display: flex;
    align-items: center;
    width: 250px;
    margin-top: 20px;
    padding: 10px;
}

.game-list p {
    margin-left: 10px;
    font-size: 1rem;
    font-weight: 600;
}

.game-list:hover {
    color: #F948B2;
    border: 1px solid #F948B2;
    border-radius: 50px;
}

/* footer section */

.footer-section {
    background-color: #0B0223;
    margin-top: 70px;
}

.footer-container {
    max-width: 1240px;
    margin: 0 auto;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 100px;
}

.logo-text {
    font-size: 2.8rem;
    font-weight: 700;
    color: #fff;
}

.footer-logo span {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-menus {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    padding-top: 40px;
    padding-bottom: 20px;
}

.footer-menus a {
    text-decoration: none;
    color: #FFF;
    margin-left: 10px;
    margin-right: 10px;
}

.social-media-icon {
    text-align: center;
    font-size: 2.5rem;
    padding: 20px 0;
}

.social-media-icon i {
    color: #fff;
    margin-left: 15px;
    margin-right: 15px;
    transition: all 0.9s;
}


.terms-and-condition {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding: 30px 0;
}

.terms-and-condition a {
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
}

.copyright {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 70px;
}